body 
{
    background-color: powderblue;
    margin: 0%;
    padding: 0%;    
    background-image: url('https://th.bing.com/th/id/R.271b42de3750c66a390740b5536a35a6?rik=kabAVigAFP78vA&pid=ImgRaw&r=0');        
}
.bg_navy
{
    background: green;
}